@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0a192f;
  color: white;
  overflow: hidden;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.crt-effect {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.05) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.01), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.01));
  background-size: 100% 4px, 3px 100%;
}

@keyframes scanline {
    from { top: -100%; }
    to { top: 100%; }
}

.animate-scanline {
    animation: scanline 8s linear infinite;
}
